MONGODB_URI=
NEXTAUTH_SECRET=
GEMINI_API_KEY=
NEXT_PUBLIC_IMAGEKIT_URL_ENDPOINT=
NEXT_PUBLIC_IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
NEXT_PUBLIC_APP_URL=http://localhost:3000
ONECOMPILER_RAPID_API_KEY=your_api_key
